img,
video,
iframe {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.15);
    box-shadow: 0 10px 25px rgba(0,0,0,.5);
}

iframe{
    aspect-ratio:16/9;
}
